[[source]]
name = "pypi"
url = "$PYPI_URL"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-runner = "*"

[packages]
click = "*"
semanticbits-models = {editable = true,path = "."}
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
